---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

export interface Props {
  imageSrc: ImageMetadata;
  alt: string;
  caption: string;
  reverse?: boolean;
}

const { imageSrc, alt, caption, reverse = false } = Astro.props;
---

<div class={`flex flex-col ${reverse ? 'md:flex-row-reverse' : 'md:flex-row'} items-center mb-10 md:my-4 gap-1 md:gap-4`}>
  <div class="w-full md:w-[49%]">
    <Image
      src={imageSrc}
      alt={alt}
      width={1024}
      class={`shadow-lg rounded-xl md:rounded-none ${reverse ? 'md:rounded-l-xl' : 'md:rounded-r-xl'}`}
      loading="lazy"
    />
  </div>
  <p class="flex-1 text-base sm:text-lg lg:text-2xl px-4 md:mx-4 text-center text-primary rounded-lg">
    {caption}
  </p>
</div>