---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Familie askovs hjemmeside med billider af vores hus samt vores kat Miso' } = Astro.props;
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>